<div class="section armor-header {{system.creatureType}} flexcol">
    <div class="section-header section-title">{{localize 'MYZ.ARMOR'}}</div>
    <div class="section-row light-bg flexrow">
        <div class="section-armor">
            {{system.armorrating.value}}
        </div>
    </div>
</div>