<div class="section experience {{system.creatureType}} flexcol">
    <div class="section-header section-title">{{localize "MYZ-ALT.XP_POINTS"}}</div>
    <div class="section-row light-bg flexrow">
        <div class="point-checkboxes" data-point="xp"></div>
    </div>
</div>