<div class="section permanent-rot {{system.creatureType}} flexcol">
    <div class="section-header section-title">{{localize 'MYZ.PERMA_ROT'}}</div>
    <div class="section-row flexrow">
        <div class="point-checkboxes" data-point="permanent-rot"></div>
    </div>
</div>