{{! PAMAR: sectionName: to identify the section}}

<div class="section {{sectionName}} {{system.creatureType}} flexcol">
    <div class="section-header section-title">{{localize (toUpperCase (concat 'MYZ.RESOURCE_POINTS_' system.creatureType ))}}</div>
    <div class="section-row flexrow">
        <div class="point-checkboxes" data-point="resource_points"></div>
    </div>
</div>