<div class="section rot {{system.creatureType}} flexcol">
    <div class="section-header section-title">{{localize "MYZ-ALT.ROT_POINTS"}}</div>
    <div class="section-row flexrow">
        <div class="point-checkboxes" data-point="rot"></div>
    </div>
</div>