.section {
  display: flex;
  background-color: $section-main-color;
  border: solid 1px $black;
  margin-bottom: $columns-gap;

  .section-header {
    color: $white;
    background-color: $section-head-color;
    padding: 0.2rem;
    border-bottom: solid 1px $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .box-item{
    border-bottom: none;
  }

  .section-title {
    font-family: big-noodle-titling;
    font-size: $section-title-fs;
    letter-spacing: 2px;
  }

  .section-field-header {
    padding-left: 0.6rem;
  }

  .section-img {
    flex: 0 0 $section-row-height;
    width: $section-row-height;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: $black;
    margin-right: 0.5rem;
  }

  .section-notes {
    flex: none;
    height: 85vh;
  }

  .section-justify-center {
    justify-content: center;
    text-align: center;
  }

  .section-label-bonus {
    flex-grow: 0;
    padding-left: $section-padding;
    width: 0;
  }

  .broken {
    color: $broken-weapon;
  }

  .section-gap-border {

    > *:first-child {
      border-right: 1px solid $black;
    }

    > *:not(:last-child) {
      padding-right: 0.5rem; // Ajustez la marge pour équilibrer l'espace à droite
    }
  }

  .space-around {
    justify-content: space-around !important;
  }

  .section-control {
    text-align: right;
    white-space: nowrap;
    gap: 0.4rem;
  }

  .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @mixin section-row-common {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: $section-padding;
    min-height: $section-row-height;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    flex-wrap: nowrap;
    line-height: unset !important;
    gap: $columns-gap;

    &:not(:last-of-type) {
      border-bottom: solid 1px $black;
    }

    .section-value {
      @include section-input-style(1.3rem);
    }

    .section-tiny-value {
      @include section-input-style(2rem);
    }

    .section-input-no-border {
      border: none;
    }

    .section-row-label {
      white-space: nowrap;
      flex: 0;
    }

    .section-name {
      font-weight: bold;

      &:hover, &:focus {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
      }
    }

    .section-center {
      align-items: center;
    }

    .section-gap-items {
      gap: 0.5rem;
    }

    .trauma-checkboxes {
      @include checkboxes-common;

      .trauma-checkbox {
        @include checkbox-common(1.6rem, url('#{$ico-path}biohazard.svg'));
      }
    }

    .state-checkbox {
      @include checkbox-common(1.6rem, url('#{$ico-path}biohazard.svg'));
    }

    .buddy-checkbox {
      @include checkbox-common(1.6rem, url('#{$ico-path}radiation.svg'));
    }

    .point-checkboxes {
      @include checkboxes-common;

      .point-checkbox {
        @include checkbox-common(1.2rem, url('#{$ico-path}biohazard.svg'));
      }
    }

    .editor {
      min-height: $section-row-height;
      display: flex;
      align-items: center;

      &.prosemirror {
        min-height: $section-row-height * 4;
        display: block;
        align-items: unset;
      }

    }

    .section-column {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-top: $section-padding;
      padding-bottom: $section-padding;
      flex-direction: row;
      gap: 0.1rem;

      .section-field {
        min-width: $row-min-width;
      }
    }

    .section-column-img {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }

  .section-row {
    @include section-row-common;
    padding-left: $section-padding;
  }

  .section-row-relation {
    @include section-row-common;
    padding-left: $section-padding;
    padding-right: 0;

    &.section-table-line {
      gap: unset !important;
    }

    .section-buddy {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      background-color: $section-main-color;
      border-left: 1px solid $black;
    }
  }

  .section-row-img {
    @include section-row-common;
    gap: 0.5rem;

    &.section-table-line {
      gap: unset !important;
    }

    .section-img {
      margin-right: 0 !important;
    }
  }

}