/*****************************
/           Colors
*****************************/
$section-head-color: #55381c;
$section-main-color: #d28e44;
$section-light-color: #ead2b8;
$white: white;
$black: black;
$transparent: #ffffff00;
$broken-weapon: rgba(157, 12, 0, 0.76);
$encumbrance: rgb(163 3 3 / 76%);
$myz-pink: #bd8886;
$myz-blue: #7c9cb6;
$tab-dark-color: #625260;

/*****************************
/           Dir
*****************************/
$font-path: '../../fonts/';
$img-path: '../../assets/images/';
$ico-path: '../../assets/ico/';

/*****************************
/           Variables
*****************************/
$section-row-height: 35px;
$section-padding: 0.3rem;
$row-min-width: 3rem;
$section-title-fs: 1.3rem;
$item-title-fs: 2rem;
$columns-gap: 0.4rem;